* {
  margin: 0;
}

body {
  background-color: rgb(253, 251, 251);
  color: rgb(73, 27, 110);
  font-family: Helvetica Neue, sans-serif;
}

/* HEADER */
#cabecalho {
  background-color: rgb(54, 192, 151);
  top: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
}

#titulo {
  text-align: center;
  font-size: 2.5rem;
}

.menu {
  text-align: left;
  border: 1px solid;
  margin: 10px;
  padding: 10px;
  width: 95%;
}

.menu ul li {
  font-size: 1rem;
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  padding: 3px;
}

main {
  margin: 15% auto 0;
  padding: 10px;
}

.avatar #minha_foto {
  width: 20%;
  border-radius: 0.5rem;
}

.table {
  padding-top: 10px;
  width: 50%;
  font-size: 0.85rem;
}

.table caption {
  font-style: italic;
  text-align: center;
}

.table tr {
  text-align: center;
  line-height: 1rem;
}

.table td {
  margin-left: 15px;
}

/* SECTION SKILLS */
.skills {
  display: flex;
  margin-top: 5%;
}

.skills-section h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

#licoes_aprendidas li {
  font-size: 1rem;
  padding-bottom: 10px;
}

#licoes_a_aprender li {
  font-size: 1rem;
  padding-bottom: 10px;
}

/* INFO */
.info {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 20px;
  margin-right: 50%;
  padding: 10px;
  display: inline-block;
}

.info h2 {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 10px;
}

.info p {
  font-size: 1.15rem;
  margin-right: 5%;
  line-height: 1.5rem;
  text-align: left;
}

.info a {
  text-decoration: none;
}

/* ARTICLE */
.info .lado-esquerdo {
  float: left;
  width: 50%;
}

/* ASIDE */
.info .lado-direito {
  float: right;
  width: 50%;
}

/* FOOTER */
#rodape {
  padding: 20px;
  text-align: center;
}
